.experts-div,.consult-div,.collaborate-div{
    display: flex;
    width: 70%;
    height: 450px;

}
.experts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-inside{
    width: 490px;
    margin: 20px;
}
.experts-div-left,.consult-div-right{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.1);
    width:55%;
   
}

.experts-div-right,.consult-div-left{
    background: #5746EC;

box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);

}
.expert-img{
  padding: 30px 20px;
    height: 90%;
    
}
.search-heading{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 71px;
line-height: 54px;


background: linear-gradient(92.84deg, #5746EC -34.59%, #F55656 93.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.search-heading-black{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 54px;

color: #000000;
}
.expert-para{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #5C5F62;
}
.consult-div,.collaborate-div{
    display:flex;
}